:root {
  background-color: var(--px-bg, #c8dff7);
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--px-font-body);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-style {
  scrollbar-width: thin;
}
.scrollbar-style::-webkit-scrollbar {
  width: 8px;
}
